body {
    color: white;
    background-color: black;
    margin: 0px;
    font-family: "Teko", sans-serif;
    margin-bottom: 200px;
}

header {
    border-bottom: solid 2px rgba(42, 16, 211, 1);
    padding: 20px;
    font-size: 32px;
    color: rgba(42, 16, 211, 1);
}

.chamada {
   background-color: rgb(112, 128, 144);
   padding-bottom: 80px;
   padding-top: 80px;
   display: flex;
   justify-content: center;
}

.chamada-texto{
    margin: right 5%; 
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}


.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;

}
.categoria-videos img:hover {
opacity: 1.0;
border: 2px solid darkblue;
}

.categoria h2 {
    color:rgba(42, 16, 211, 1);
}